<footer class="footer bg-darkgray text-white pt-5 pb-4">
  <div class="container">
    <div class="row text-center text-md-start gap-4 gap-md-0 justify-content-between border-bottom pb-4">
      <div class="col-12 col-md-4 mb-4 mb-md-0 footer-section socials d-flex justify-content-center justify-content-md-start gap-3">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
      </div>
      <div class="col-12 col-md-4 mb-4 mb-md-0 footer-section linksFooter d-flex flex-column align-items-center">
        <a href="/">Home</a>
        <a href="/over">Over ons</a>
        <a href="/contact">Contact</a>
      </div>
      <div class="col-12 col-md-4 footer-section contact text-center text-md-end">
        <p>Email: vragen@sidewebz.be</p>
        <p>Tel: +32 493 68 07 36</p>
      </div>
    </div>
    <p class="footer-bottom mt-4 text-center small">&copy; {{year}} Sidewebz. Alle rechten voorbehouden.</p> <br>
        <div class="text-center">
      <button id="cookie-settings-btn" class="btn btn-outline-light btn-sm rounded-5">
        Cookie-instellingen aanpassen
      </button>
    </div>
  </div>
</footer>
