<nav>
  <a href="/" class="logo">sidewebz</a>
  <div class="links">
    <a href="/projects">Projecten</a>
    <a href="/contact">Contact</a>
  </div>
  <div class="burger" id="burger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>

<div class="mobile-menu" id="mobileMenu">
  <a href="/projects">Projecten</a>
  <a href="/contact">Contact</a>
</div>
