<header class="position-relative header-pc text-white d-none d-md-block">
  <div class="d-flex justify-content-center">
    <img src="/images/sidewebz-contact-1.png" 
         alt="SideWebz Header"
         class="responsive-img" >
  </div>
 <!-- Overlay content -->
<div class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-column justify-content-center px-3 px-md-5 py-3">
  <div class="row h-100">
    <!-- Left side content -->
<div class="col-md-9 d-flex flex-column justify-content-end mb-4 mb-md-0">
  <!-- Intro blok vult alle beschikbare hoogte -->
  <div class="flex-grow-1 d-flex flex-column justify-content-center mt-5">
    <h2 class="thin display-mid">Hey I'm Rune</h2>
    <h4 class="thin display-normal" style="max-width: 18vw;">
I make websites that combine design and function to bring your brand to life.
    </h4>
  </div>
  <!-- Rest van de content onderaan -->
  <h2 class="fw-bold display-larger">WEBDESIGNER</h2>
  <h2 class="thin display-mider mb-3">BASED IN REGION<br>BRUGES</h2>
  <a href="/projects" class="btn-arrow rounded-pill mb-3 d-inline-flex align-self-start mt-5 mt-md-0">
    <span class="arrow">
      <i class="fa-solid fa-arrow-right"></i>
    </span>
    <span class="text">See My Work</span>
  </a>

</div>
<div class="col-md-3 d-none d-md-flex flex-column text-end mt-2 align-items-end" style="height: 100%; justify-content: space-between;">

  <div class="bottom-line mt-3 d-flex flex-column align-items-end w-75">
    <i class="fa-solid fa-circle-check mb-1"></i>
    <h5 class="thin display-smaller mb-0 text-end">Years of experience in mechanics</h5>
  </div>

  <div class="bottom-line d-flex flex-column align-items-end w-75 mt-2">
    <i class="fa-solid fa-circle-check mb-1"></i>
    <h5 class="thin display-smaller mb-0 text-end text-break">Years of graduate level programming</h5>
  </div>

  <div class="bottom-line d-flex flex-column align-items-end w-75 mt-2">
    <i class="fa-solid fa-circle-check mb-1"></i>
    <h5 class="thin display-smaller mb-0 text-end">Year internship at Informatica City Bruges</h5>
  </div>

  <div class="bottom-line mb-5 d-flex flex-column align-items-end w-75 mt-2">
    <i class="fa-solid fa-spinner"></i>
    <h5 class="thin display-smaller mb-0 text-end">Years of a Bachelor’s degree in Computer Science</h5>
  </div>

</div>



  </div>
</div>
</header>

<header class="d-md-none text-white text-center position-relative">
  <div class="d-flex justify-content-center">
    <img src="/images/sidewebz-contact-1.png" 
         alt="SideWebz Header"
         class="mobile-img">
  </div>
  <div class="header-text position-absolute w-100 text-center" style="bottom: 0;">
    <h2 class="display-large fw-bold mb-0">WEBDESIGNER</h2>
    <h2 class="display-mid thin mt-0">Based in region<br>Bruges</h2>
  </div>
</header>


<section class="footer mb-2 py-4 d-block d-md-none text-start">
  <div class=" px-3">
        <div class="row mt-4">
          <div class="col-6 d-flex flex-column justify-content-between">
            <div class="bottom-line">
              <h2 class="fw-semibold mt-0 display-mid">6 <i class="fa-solid fa-circle-check"></i></h2>
              <p class="thin display-normal">Years of experience in mechanics</p>
            </div>

            <div class="bottom-line"><h2 class="mt-4 fw-semibold display-mid">2 <i class="fa-solid fa-circle-check"></i></h2>
            <p class="thin display-normal">Years of graduate level programming</p>
            </div>
            
            
          </div>
          <div class="col-6 d-flex flex-column justify-content-between text-end">
            <div class="bottom-line">
            <h2 class="fw-semibold mt-0 display-mid">1 <i class="fa-solid fa-circle-check"></i></h2>
            <p class="thin display-normal">Year internship at Informatica City Bruges</p></div>

<div class="bottom-line"> <h2 class="fw-semibold mt-4 display-mid">2 <i class="fa-solid fa-spinner"></i></h2>
            <p class="thin display-normal">Years of a Bachelor’s degree in Computer Science</p>
          </div>
        </div>
</section>

<section class="containe d-md-none my-0 mt-0 px-3">
<h1 class="thin display-large">Contact me</h1>
<h2 class="thin display-mid">to build your side of the web  a website that presents your brand exactly how you want it.</h2>
  <a href="/projects" class="btn-arrow rounded-pill mb-2 d-inline-flex align-self-start mt-3 mt-md-0">
    <span class="arrow">
      <i class="fa-solid fa-arrow-right"></i>
    </span>
    <span class="text">See My Work</span>
  </a>
</section>


<section class="midpart py-5 text-center">
  <div class="we-wrapper ">
    <span class="we-pill display-large thin">WE</span>
    <span class="we-pill display-large thin">BUILD</span>
    <span class="we-pill display-large thin">YOUR</span>
    <br>
    <span class="we-pill-orange display-large thin">SIDE</span>
    <span class="we-pill display-large thin">OF</span>
    <span class="we-pill display-large thin">THE</span>
    <span class="we-pill-orange display-large thin">WEB</span>
  </div>
</section>

<div class="container my-5 mt-0 mt-md-5">
  <div class="row align-items-center">
    <div class="col-12 col-md-8 mb-4 mb-md-0">
      <div style="max-width: 95%;">
        <h2 class="display-mid">What do my experiences do for me, and for you?</h2>
        <p class="thin display-small">
         I bring together technical precision, programming expertise, and creative design to build websites that work flawlessly and feel unique to each brand. With a strong foundation in mechanics, programming, and real-world IT experience, plus my ongoing Computer Science degree, I create sites that are both powerful and personal.
        </p>
      </div>
    </div>

    <div class="col-12 col-md-4 text-center text-md-end">
      <img src="/images/sidewebz-about2.png" alt="Sidewebz-AboutImage2" class="img-fluid rounded">
    </div>
  </div>
</div>