<!-- HEADER -->
<header class="custom-header">
  <div class="header-inner d-flex flex-column flex-lg-row align-items-center justify-content-between gap-4 Inter">
    <div class="text-content text-center text-lg-start gsap-left">
      <h1>OVER SIDEWEBZ</h1>
      <p class="lead">
       Sidewebz is een klein, startend webdesignbedrijf met aandacht voor eenvoud en kwaliteit. Wij creëren websites die aansluiten bij jouw verhaal en wensen. Ons werk is voor ons pas echt geslaagd als we er samen trots op kunnen zijn.
      </p>
      <a href="contact" class="btn btn-gradient mt-3">Neem contact op</a>
    </div>
    <div class="image-content position-relative gsap-right">
      <img
        src="/images/sidewebz-over-header.jpg"
        alt="Ons team"
        class="header-img"
      >
    </div>
  </div>
</header>

<!-- OVER MIJ -->
<section class="section-light py-5">
  <div class="container text-center text-lg-start d-flex flex-column flex-lg-row align-items-center gap-10">
    <div class="flex-fill gsap-left">
      <h1 class="mb-3"><strong>LEER MIJ KENNEN</strong></h1>
      <p class="thin">Ik ben Rune Van der Stuyft, een jonge programmeur vol creativiteit en drive. Met oog voor detail en een passie voor webdesign bouw ik graag websites waar zowel jij als ik trots op kunnen zijn.</p>

      <h5 class="mt-4 kop"><strong>Ervaring</strong></h5>
      <p class="soft-text">Ik heb een jaar stage gelopen bij Stad Brugge, waar ik veel ervaring heb opgedaan met het bouwen en onderhouden van websites. Die periode heeft mijn passie voor webontwikkeling alleen maar versterkt.</p>

      <h5 class="mt-4 kop"><strong>Opleiding en groei</strong></h5>
      <p class="soft-text">Na het behalen van mijn graduaat in programmeren ben ik verder gaan studeren voor een bachelor in Toegepaste Informatica. Deze combinatie van opleiding en praktijkervaring geeft mij een stevige basis in zowel code als creativiteit.</p>

      <h5 class="mt-4 kop"><strong>Ondernemen met passie</strong></h5>
      <p class="soft-text">Ik ben gestart als student-zelfstandige omdat ik geloof dat dit het perfecte moment is om van mijn passie mijn werk te maken. Met SideWebz wil ik niet alleen klanten blij maken met een mooie site, maar ook zelf trots kunnen zijn op elk resultaat.</p>
    </div>
    <div class="flex-fill gsap-right">
      <img
        src="/images/sidewebz-contact-person.jpg"
        alt="Samenwerking"
        class="about-img"
      >
    </div>
  </div>
</section>