 <header class="header-section d-flex align-items-center d-none d-md-flex position-relative">
    <div class="row g-0 h-100">
      <!-- Linker foto zonder margin -->
      <div class="col-4 d-flex align-items-center">
        <img src="/images/sidewebz-projects1.png" class="header-img fade-in-left" alt="Header Foto">
      </div>
    </div>
    <!-- Tekst overlay -->
    <div class="overlay d-none d-md-flex flex-column justify-content-center text-white text-center">
      <div class="w-100 px-3 px-md-5 py-3">
        <div>
        <h2 class="fw-bold mb-0">WEBDESIGNER</h2>
        <h2 class="thin mt-0 mb-5">BASED IN REGION<br>BRUGES</h2>
        </div>
        <div class="flex-row justify-content-end">
          <a href="/contact" class="btn-arrow rounded-pill mb-3 d-inline-flex align-self-start mt-5 mt-md-0">
          <span class="arrow">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="text">Contact</span>
        </a>
        </div>
        <div>
            <h2 class="thin mt-5">Projects</h2>
            <h4 class="ultra-thin">A look at the projects where design<br>and code come together to create<br>unique online experiences</h3>
        </div>
      </div>
    </div>
  </header>


<header class="d-flex d-md-none text-white text-start position-relative mt-5">
  <div class="overlay-container position-relative">
    <img src="/images/sidewebz-projects1.png" alt="Sidewebz Header" class="mobile-img fade-in-left">

    <div class="text-overlay position-absolute top-50 start-50 translate-middle px-3">
      <h2 class="fw-bold">WEBDESIGN</h2>
      <h2 class="thin">Based in region Bruges</h2>
      <a href="/contact" class="btn-arrow rounded-pill mb-3 d-inline-flex align-self-start mt-2 mt-md-0">
        <span class="arrow">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
        <span class="text">Contact</span>
      </a>
    </div>
  </div>
</header>

<section class="container mt-4 mb-2 d-block d-md-none">
  <h2 class="">Projects</h2>
  <h3 class="thin">A look at the projects where design and code come together to create unique online experiences</h3>
</section>


  <section class="midpart py-5 text-center mb-3 mb-md-5">
  <div class="we-wrapper ">
    <span class="we-pill display-large thin">WE</span>
    <span class="we-pill display-large thin">BUILD</span>
    <span class="we-pill display-large thin">YOUR</span>
    <br>
    <span class="we-pill-orange display-large thin">SIDE</span>
    <span class="we-pill display-large thin">OF</span>
    <span class="we-pill display-large thin">THE</span>
    <span class="we-pill-orange display-large thin">WEB</span>
  </div>
</section>

<section class="d-flex d-md-none text-white text-start position-relative mt-3 align-items-end">
  <div class="overlay-container position-relative">
<div class="d-flex justify-content-end w-100">
   <img src="/images/sidewebz-projects2.png" alt="Sidewebz Header" class="mobile-img fade-in-right">
</div>


    <div class="text-overlay position-absolute top-50 start-50 translate-middle px-3">
      <h2 class="fw-bold">BlanckMedia</h2>
      <h2 class="thin">VideoProduction Company</h2>
      <a href="https://blanckmedia.be/" class="btn-arrow rounded-pill mb-3 d-inline-flex align-self-start mt-2 mt-md-0">
        <span class="arrow">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
        <span class="text">Visit Site</span>
      </a>
    </div>
  </div>
</section>
<section class="container mt-4 mb-5 d-block d-md-none">
  <h2>What does this site do?</h2>
  <h3 class="thin">A website for a video production company featuring multiple pages, animations, videos, and photos, all of which can be easily uploaded and managed by the company owner through the back office.</h3>
</section>


<section class="d-flex d-md-none text-white text-start position-relative mt-5">
  <div class="overlay-container position-relative">
    <img src="/images/sidewebz-projects3.png" alt="Sidewebz Header" class="mobile-img fade-in-left">

    <div class="text-overlay position-absolute top-50 start-50 translate-middle px-3">
      <h2 class="fw-bold">JohnDoe</h2>
      <h2 class="thin">Internship project at city Bruges </h2>
    </div>
  </div>
</section>
<section class="container mt-4 mb-5 d-block d-md-none">
  <h2>What does this site do?</h2>
  <h3 class="thin">An application that enables seamless identity switching within existing systems, making it easier for developers to test different use case scenarios.</h3>
</section>



<section class="container-fluid p-0 mb-5 d-none d-md-block">
  <div class="row g-0 align-items-center">
    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="content-wrapper px-5 px-md-5 px-lg-7">
        <h2 class="fw-bold">BLANCKMEDIA</h2>
        <h2 class="thin">Videography production <br>based in Zedelgem</h2>

        <a href="https://blanckmedia.be/" class="btn-arrow rounded-pill mb-3 d-inline-flex align-self-start mt-2">
          <span class="arrow">
            <i class="fa-solid fa-arrow-right"></i>
          </span>
          <span class="text">Visit Site</span>
        </a>

        <p class="thin me-5">
          A website for a video production company featuring multiple pages, animations, videos, and photos, all of which can be easily uploaded and managed by the company owner through the back office.
        </p>
      </div>
    </div>

    <div class="col-6">
      <img src="images/sidewebz-projects2.png" alt="Sidewebz Projects" class="img-fluid w-100 fade-in-right">
    </div>
  </div>
</section>


<section class="container-fluid p-0 mb-5 d-none d-md-block">
  <div class="row g-0 align-items-center flex-row-reverse">
    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="content-wrapper pe-5 pe-md-5 pe-lg-7 text-end">
        <h2 class="fw-bold">JOHNDOE</h2>
        <h2 class="thin">Internship project at city <br> Bruges</h2>


        <p class="thin mt-3 ms-5">
          An innovative application that enables seamless identity switching within existing systems, allowing developers and testers to effortlessly simulate multiple user roles and real world scenarios without disrupting their workflow.
        </p>
      </div>
    </div>

    <div class="col-6">
      <img src="images/sidewebz-projects3.png" alt="Sidewebz Projects" class="img-fluid w-100 fade-in-left">
    </div>
  </div>
</section>


