
.input-line {
  border-bottom: 2px solid #ff4d00 !important; /* jouw accentkleur */
  background-color: transparent !important;
  color: white !important;
}
.input-line::placeholder {
  color: rgba(255, 255, 255, 0.7); /* beetje transparant wit */
}



.responsive-img {
  max-width: 52vw;
  max-height: 100vh;
}
.mobile-img {
  width: 90vw;       /* 90% van de viewport breedte */
  height: auto;      /* hoogte past zich aan */
  display: block;
  object-fit: cover;
}
.intro-text h2, .intro-text p {
  color: white;
}

.stats h3, .stats p {
  color: white;
}

