.banner {
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  user-select: none;
  text-align: center;
}

.banner-text {
  margin: 0;
}

.typing-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 0.7s infinite;
  font-weight: bold;
  color: #fff;
}
header.banner h1.banner-text {
  font-size: 4rem;
  color: white;
  font-weight: bold;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@media (max-width: 768px) {
  header.banner h1.banner-text {
  font-size: 3rem;
}

}
