body, html {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-darkgray{
  background-color: #252435;
}

main {
  flex: 1;
}


a {
  text-decoration: none !important;
  color: inherit !important;
  transition: color 0.3s;
}
a:hover {
  color: #888 !important;
}

/* Banner */
.banner {
  background: black;
  color: white;
  user-select: none;
}
.banner h1 {
  font-size: 4rem;
  font-weight: bold;
}
@media (max-width: 768px) {
  .banner h1 {
    font-size: 3rem;
  }
}

/* Burger */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  width: 25px;
  height: 20px;
  justify-content: center;
}
.burger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}

/* Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: #121212;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 99;
}
.mobile-menu.open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}
.mb-link {
  font-size: 2rem;
  margin: 1rem 0;
  color: white !important;
  font-weight: 600;
  transition: color 0.3s ease;
}
.mobile-menu a:hover {
  color: #aaa;
}

.footer a {
  color: #ccc;
  transition: color 0.3s;
}
.footer a:hover {
  color: #fff;
}
.footer .socials a {
  font-size: 1.5rem;
}
.footer .contact p {
  color: white;
}
.footer-bottom {
  color: #e7e7e7;
}
/* Sticky wrapper zorgt dat navbar sticky is */
.navbar-wrapper {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #121212; /* herhaal background zodat die over content heen staat */
}


body.menu-open {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  width: 100%;
  touch-action: none;
}
