/* Offcanvas background */
#mainNavbar.offcanvas {
  background-color: #1e1e1e; /* donkergrijs */
  color: #ffffff;
}

/* Titel */
#mainNavbar .offcanvas-title {
  color: #e8491d; /* oranje accent */
  font-weight: 600;
  letter-spacing: 1px;
}

/* Close button wit maken */
#mainNavbar .btn-close {
  filter: invert(1);
}

/* Menu links */
#mainNavbar .nav-link {
  color: #D9D9D9;
  transition: all 0.3s ease;
  position: relative;
}

/* Hover effect */
#mainNavbar .nav-link:hover {
  color: #e8491d;
  transform: translateX(5px);
}

/* Active link */
#mainNavbar .nav-link.active {
  color: #e8491d;
  font-weight: bold;
}

/* Kleine oranje lijn onder hover */
#mainNavbar .nav-link::after {
  content: "";
  display: block;
  height: 2px;
  background: #e8491d;
  width: 0;
  transition: width 0.3s;
  margin-top: 3px;
}
#mainNavbar .nav-link:hover::after {
  width: 100%;
}
